.sprint-section {
    margin: 4px;
}

.sprint-section-title {
    margin-left: 10px;
    text-transform: uppercase;
}

.section-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.big-drop-area {
    margin-bottom: 20px;
}

.drop-area {
    height: 20px;
    margin-bottom: 10px;
    /* background-color: transparent; */
    /* border: 2px solid yellow; */
}

.drop-area-highlight {
    border: 3px solid #b3b3b3;
    border-style: dashed;
    height: 200px;
}

.big-drop-area {
    height: 100%;
}

.big-drop-area-highlight {
    border: 3px solid #b3b3b3;
    border-style: dashed;
}

.sprint-section-title-with-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sprint-section-title-with-btn img:hover {
    cursor: pointer;
}